.colCenter {
  display: flex;
  justify-content: center;
}
.mainContainer {
  background-color: white;
  position: relative;
  top: 100px;
  width: 60%;
  padding: 20px;
  border-radius: 10px;
}
.anyButton {
  position: relative;
  left: 200px;
  height: 80px;
  width: 140px;
  background-color: #808080;
  border: none;
  // text-align: center;
  font-family: Avenir;
  font-size: 15px;
  font-weight: 400;
  color: black;
  outline: none !important;
  outline-offset: none !important;
  border-radius: 10px;
  margin-right: 10px;
  margin: 30px;
}
.anyButtonActive {
  position: relative;
  left: 200px;
  height: 80px;
  width: 140px;
  background-color: #d8ab4c;
  border: none;
  // text-align: center;
  font-family: Avenir;
  font-size: 15px;
  font-weight: 400;
  color: white;
  outline: none !important;
  outline-offset: none !important;
  border-radius: 10px;
  margin-right: 10px;
  margin: 30px;
}
.endButton {
  position: relative;
  right: 200px;
  height: 80px;
  width: 140px;
  background-color: #808080;
  border: none;
  // text-align: center;
  font-family: Avenir;
  font-size: 15px;
  font-weight: 400;
  color: black;
  outline: none !important;
  outline-offset: none !important;
  border-radius: 10px;
  margin-left: 10px;
  margin: 30px;
}
.endButtonActive {
  position: relative;
  right: 200px;
  height: 80px;
  width: 140px;
  background-color: #d8ab4c;
  border: none;
  // text-align: center;
  font-family: Avenir;
  font-size: 15px;
  font-weight: 400;
  color: white;
  outline: none !important;
  outline-offset: none !important;
  border-radius: 10px;
  margin-left: 10px;
  margin: 30px;
}
.titleText {
  font-size: 30px;
  margin-top: 20px;
}
.opaque {
  width: 100%;
  background-color: white;
}
