.colCenter {
  display: flex;
  justify-content: center;
}
.mainContainer {
  background-color: white;
  position: relative;
  top: 100px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}
.anyButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;
  width: 240px;
  background-color: #808080;
  border: none;
  // text-align: center;
  font-family: Avenir;
  font-size: 10px;
  font-weight: 400;
  color: black;
  padding: 32px;
  outline: none !important;
  outline-offset: none !important;
  border-radius: 10px;
  margin: 20px;
  padding-bottom: 45px;
}
.anyButtonActive {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;
  width: 240px;
  background-color: #d8ab4c;
  border: none;
  // text-align: center;
  font-family: Avenir;
  font-size: 10px;
  font-weight: 400;
  color: white;
  padding: 32px;
  outline: none !important;
  outline-offset: none !important;
  border-radius: 10px;
  margin: 20px;
  padding-bottom: 45px;
}
.endButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;
  width: 240px;
  background-color: #808080;
  border: none;
  // text-align: center;
  font-family: Avenir;
  font-size: 10px;
  font-weight: 400;
  color: black;
  padding: 32px;
  outline: none !important;
  outline-offset: none !important;
  border-radius: 10px;
  margin: 20px;
  padding-bottom: 45px;
}
.endButtonActive {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;
  width: 240px;
  background-color: #d8ab4c;
  border: none;
  // text-align: center;
  font-family: Avenir;
  font-size: 10px;
  font-weight: 400;
  color: white;
  padding: 32px;
  outline: none !important;
  outline-offset: none !important;
  border-radius: 10px;
  margin: 20px;
  padding-bottom: 45px;
}
.mainTitle {
  margin-top: 20px;
  font-size: 45px;
  margin-bottom: 20px;
}
.secondaryTitle {
  font-size: 35px;
}
.ternaryTitle {
  font-size: 20px;
  margin-top: 10px;
}
.smallText {
  font-size: 15px;
}
.nextButton {
  background-color: #d8ab4c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
}
.middleBox {
  background-color: #d8ab4c;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 30px;
}
