.colCenter {
  display: flex;
  justify-content: center;
}
.mainContainer {
  background-color: white;
  position: relative;
  top: 100px;
  width: 60%;
  padding: 20px;
  border-radius: 10px;
}
.toast {
  float: right;
  display: flex;
  z-index: 1;
}
.anyButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 10vh;
  background-color: #808080;
  border: none;
  // text-align: center;
  font-family: Avenir;
  font-size: 10px;
  font-weight: 400;
  color: black;
  padding: 2rem;
  outline: none !important;
  outline-offset: none !important;
  border-radius: 10px;
  border-right: 10px;
}
.anyButtonActive {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 10vh;
  background-color: #d8ab4c;
  border: none;
  // text-align: center;
  font-family: Avenir;
  font-size: 10px;
  font-weight: 400;
  color: white;
  padding: 2rem;
  outline: none !important;
  outline-offset: none !important;
  border-radius: 10px;
  border-right: 10px;
}
.endButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 10vh;
  background-color: #808080;
  border: none;
  // text-align: center;
  font-family: Avenir;
  font-size: 10px;
  font-weight: 400;
  color: black;
  padding: 2rem;
  outline: none !important;
  outline-offset: none !important;
  border-radius: 10px;
  border-left: 10px;
}
.endButtonActive {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 10vh;
  background-color: #d8ab4c;
  border: none;
  // text-align: center;
  font-family: Avenir;
  font-size: 10px;
  font-weight: 400;
  color: white;
  padding: 2rem;
  outline: none !important;
  outline-offset: none !important;
  border-radius: 10px;
  border-left: 10px;
}
